# ROS build artifacts
build/
devel/
logs/
src/DARE/
src/HDPlanner_Exp_and_Nav/
src/ariadne2_opt
*.pyc
__pycache__/
.catkin_workspace


# IDE
.vscode/
.idea/
*.swp
*.swo

# Python
*.egg-info/
dist/

# OS
.DS_Store
Thumbs.db

# Large files
# */log/
# */mesh/
# *.jpg
# *.png
# *.dae
# *.ply
